@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>    
    <a href="#" onclick="tibox.shared.renderModal('@Url.Action("Create")')"
       data-toggle="modal"
       data-target="#modal-container"
       class="btn btn-success btn-sm">
       <span class="glyphicon glyphicon-plus"></span> Create New
    </a>
</p>

<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@Modal.ModalView()

@Scripts.Render("~/bundles/bootpag")
@Scripts.Render("~/bundles/customer")