<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=10.19.150.20;Initial Catalog=Northwind_Lite;User ID=sa;pwd=tibox.*2016"/>
  </connectionStrings>
</configuration>